<div id="logo" class="logo">
  <h1>emotejiji</h1>
  <span>Σ(゜д゜;)</span>
</div>


<div>
  <%= form_for(@user, html: { class: 'pure-form pure-form-stacked' }) do |f| %>

    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.submit "register", class: "btn btn-large btn-primary" %>
  <% end %>
</div>

<div>
  <%= form_for(:session, url: sessions_path,  html: { class: 'pure-form pure-form-stacked' }) do |f| %>

    <%= f.label :username_or_email %>
    <%= f.text_field :username_or_email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit "login", class: "btn btn-large btn-primary" %>
  <% end %>
</div>