<!DOCTYPE html>
<html lang="en" ng-app="Emotejiji">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Emotejiji</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.1.0/pure-min.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="content">
    <%= yield %>
  </div>

  <%= render "layouts/sidebar" %>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>
  <script src="//cdn.jsdelivr.net/underscorejs/1.4.4/underscore-min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/restangular/latest/restangular.min.js"></script>
  <%= javascript_include_tag "application" %>
  <script>
//      $( document ).ready(function() {
//          $('#emoticon-list').masonry({
//              itemSelector: 'li',
//              columnWidth: 160
//          });
//      });
  </script>
</body>
</html>
