<!DOCTYPE html>
<html lang="en" ng-app="Emotejiji" ng-controller="AppCtrl" global-key-press>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="SGWuZrv6HADc9znyZxB0ES-eAILmzJyqodrRJimtt6c" />
  <!-- FML!!!: http://stackoverflow.com/questions/17472224/angularjs-routes-with-parameters-in-path-not-loading-in-html5-mode-when-going-di -->
  <!-- Also refer to the image AngularHTML5-FML.jpg for more pain/explanation when you write this up as a tutorial -->
  <base href="/" />
  <meta name="fragment" content="!">
  <title>Emotejiji, the emoticon search engine</title>
  <link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css' />
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="content">
    <%= yield %>
    <div id="pop-over" ui-view="popOver"></div>
    <div ui-view="emoticonList"></div>
  </div>

  <%= render "layouts/sidebar" %>

  <div class="top-decoration"><div></div></div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <%= javascript_include_tag "application" %>
</body>
</html>
